
@font-face {
    font-family: 'GFS-Porson';
    src: url('porson/gfsporsonregular.eot');
    src: url('porson/gfsporsonregular.eot?#iefix') format('embedded-opentype'),
		 url('porson/gfsporsonregular.woff') format('woff'), 
		 url('porson/gfsporsonregular.ttf') format('truetype')
    font-weight: normal;
    font-style: normal;
}
body {width:100%;max-width:786px;margin:0 auto;font-size:1em;line-height:1.2;font-family:"GFS-Porson", "Goudy Old Style", "Adobe Garamond Pro", Garamond, "Times New Roman", serif;background: #fff;}